body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color:#B17F59;
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;

}

.menu li{
    position: relative;
    padding:  15px 20px;
    color: #A5B68D;
    text-decoration: none;
}

.menu li:hover .submenu{
    display:block
}


a{
    color: #EDE8DC;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
.social-links {
    margin-top: 20px;
}
.social-links a {
    margin: 0 10px;
    color: #333;
    font-size: 24px;
    text-decoration: none;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}